<div class="container-fluid">
  <br>

  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <h4 id="Fuentes">Por favor ingrese sus datos:</h4>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <form class="form-inline">
        <div class="form-group">
          <label for="cedula" class="Labels">Cédula:</label>
          <br>
          <input type="cedula" class="form-control" id="cedula" class="Fields" size="47" placeholder="Cédula" id="Fuentes2" required>
        </div>

        <div class="form-group">
          <label for="cliente" class="Labels">Cliente:</label>
          <br>
          <input type="cliente" class="form-control" id="cliente" class="Fields" size="47" placeholder="Cliente" id="Fuentes2" required>
        </div>

        <div class="form-group">
          <label for="telefono" class="Labels">Teléfono:</label>
          <br>
          <input type="telefono" class="form-control" id="telefono" class="Fields" size="46" placeholder="Teléfono" id="Fuentes2" required>
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <!-- CUARTA FILA -->

  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <form class="form-inline">
        <div class="form-group">
          <label for="email" class="Labels">Email:</label>
          <br>
          <input type="email" class="form-control" id="email" class="Fields" size="47" placeholder="Email" id="Fuentes2" required>
        </div>

        <div class="form-group">
          <label for="empresa" class="Labels">Empresa:</label>
          <br>
          <input type="empresa" class="form-control" id="empresa" class="Fields" size="47" placeholder="Empresa" id="Fuentes2">
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <form class="form-inline">
        <div class="form-group"></div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <!-- QUINTA FILA -->

  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <h4 id="Fuentes">Seleccione la sucursal y el tipo de servicio:</h4>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <form class="form-inline">
        <div class="form-group">
          <label for="sucursal" class="Labels">Sucursal:</label>
          <br>
          <select style="width:362px" type="sucursal" class="form-control" id="sucursal" class="Fields" id="Fuentes2">
            <option value="Sucursal">Seleccionar la Sucursal</option>
            <option value="Quito">QUITO</option>
            <option value="Guayaquil">GUAYAQUIL</option>
            <option value="Cuenca">CUANCA</option>
            <option value="Ambato">AMBATO</option>
          </select>
        </div>
        <div class="form-group">
          <label for="servicio" class="Labels">Servicio:</label>
          <br>
          <select style="width:362px" type="servicio" class="form-control" id="servicio" class="Fields" id="Fuentes2">
            <option value="Servicio">Seleccionar el tipo de servicio</option>
            <option value="Mantenimiento">MANTENIMIENTO GENERAL</option>
            <option value="Reparacion">REPARACIÓN</option>
            <option value="Revision">REVISIÓN</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <form class="form-inline">
        <div class="form-group"></div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <br>


  <!--SEXTA FILA calendario -->

  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <h4 id="Fuentes">Seleccione la fecha y hora de su cita:</h4>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <form class="form-inline">
        <div class="form-group">
          <label for="sucursal" class="Labels">Fecha:</label>
          <br>
          <select style="width:362px" type="sucursal" class="form-control" id="sucursal" class="Fields" id="Fuentes2">
            <option value="Sucursal">Seleccionar la Sucursal</option>
            <option value="Quito">QUITO</option>
            <option value="Guayaquil">GUAYAQUIL</option>
            <option value="Cuenca">CUANCA</option>
            <option value="Ambato">AMBATO</option>
          </select>
        </div>

        <div class="form-group">
          <label for="sucursal" class="Labels">Hora:</label>
          <br>
          <select style="width:362px" type="sucursal" class="form-control" id="sucursal" class="Fields" id="Fuentes2">
            <option value="Sucursal">Seleccionar la Sucursal</option>
            <option value="Quito">QUITO</option>
            <option value="Guayaquil">GUAYAQUIL</option>
            <option value="Cuenca">CUANCA</option>
            <option value="Ambato">AMBATO</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth" id="Fondo">
      <form class="form-inline">
        <div class="form-group"></div>
      </form>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <br>

  <!--SEPTIMA FILA -->

  <hr>
  <div class="row" style="background-color:#BDBDBD;">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <H3 face="Cooper Black">Servicio Multimarcas</H3>
    </div>
  </div>

  <!--OCTAVA FILA -->

  <br>
  <div class="row" style="background-color:white;">

    <div class="col-sm-1">

    </div>

    <div class="col-sm-2">
      <img src="http://wallpapercave.com/wp/Dq2654t.jpg" width="140" height="50">
    </div>

    <div class="col-sm-2">
      <img src="http://www.carlogos.org/logo/Chevrolet-logo-2011-1366x768.png" width="140" height="50">
    </div>

    <div class="col-sm-2">
      <img src="http://logodatabases.com/wp-content/uploads/2012/03/mitsubishi.jpg" width="140" height="50">
    </div>

    <div class="col-sm-2">
      <img src="https://autoflows.net/wp-content/uploads/2016/01/Hyundai-Logo-873x510.png" width="140" height="50">
    </div>

    <div class="col-sm-2">
      <img src="http://www.carlogosfree.com/wp-content/uploads/2016/05/honda-logos-emblems.jpg" width="140" height="50">
    </div>

  </div>
  <br>
</div>

