<h1>Bienvenido al panel de Administración</h1>

<div row class="container">
  <div class="col-sm-4"></div>

  <div class="jumbotron col-sm-5">
    <h2>Panel de Administración</h2>
    <p><a class="btn btn-primary btn-lg" href="/listarCliente" role="button">Clientes</a>
      <a class="btn btn-primary btn-lg" href="/listarCitas" role="button">Citas Asignadas</a></p>
      </p>
    <p align="center">
      <a class="btn btn-danger btn-lg" href="/login" role="button">Salir</a>
    </p>

  </div>

  <div class="col-sm-4"></div>

</div>
