<div class="container-fluid">
  <br>

  <div class="row" style="background-color:white;">
    <div class="col-sm-1"></div>
    <div class="col-sm-10" align="rigth">
      <h4>Por favor registre su cita:</h4>
    </div>
    <div class="col-sm-1"></div>
  </div>

  <div class="row" style="background-color:white;">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" align="rigth" id="Fondo">
      <form class="form-group" action="cita/crearCita" method="post">
        <h4 id="Fuentes">Seleccione la sucursal y el tipo de servicio:</h4>

        <div class="form-group">
        <label for="">Cedula</label>
          <select style="width:300px" class="form-control" name="idCliente">
            <% for(var i=0; i<clientes.length; i++){ %>
            <option value='<%=clientes[i].id%>'>
              <%=clientes[i].cedula%>
            </option>
            <%  } %>
          </select>
        </div>

        <!-- SUCURSAL -->
        <div class="form-group">
          <label>Sucursal:</label>
          <select style="width:300px" type="text" class="form-control" name="sucursal">
            <option value="Sucursal">Seleccionar la Sucursal</option>
            <option value="Quito">QUITO</option>
            <option value="Guayaquil">GUAYAQUIL</option>
            <option value="Cuenca">CUANCA</option>
            <option value="Ambato">AMBATO</option>
          </select>
        </div>

        <!-- SERVICIO -->
        <div class="form-group">
          <label>Servicio:</label>
          <br>
          <select style="width:300px" type="text" class="form-control" name="servicio">
            <option value="Servicio">Seleccionar el tipo de servicio</option>
            <option value="Mantenimiento">MANTENIMIENTO GENERAL</option>
            <option value="Reparacion">REPARACIÓN</option>
            <option value="Revision">REVISIÓN</option>
          </select>
        </div>

        <br>
        <h4 id="Fuentes">Seleccione la fecha y hora de su cita:</h4>

        <!-- FECHA -->
        <div class="form-group">
          <label>Fecha:</label>
            <input style="width:300px" type="date" class="form-control" name="fecha" id="fechaInicio" required>
        </div>

        <!-- HORA -->
        <div class="form-group">
          <label>Hora:</label>
          <br>
          <select style="width:300px" type="text" class="form-control" id="horario" name="hora">
                <option value="Horario">Seleccionar horario</option>
                <option value="Hora">9:00</option>
                <option value="Hora">9:30</option>
                <option value="Hora">10:00</option>
                <option value="Hora">10:30</option>
                <option value="Hora">11:00</option>
                <option value="Hora">11:30</option>
                <option value="Hora">12:00</option>
                <option value="Hora">12:30</option>
                <option value="Revision">14:00</option>
                <option value="Revision">14:30</option>
                <option value="Revision">13:00</option>
                <option value="Revision">13:30</option>
                <option value="Revision">16:00</option>
                <option value="Revision">16:30</option>
                <option value="Revision">17:00</option>
                <option value="Revision">17:30</option>
              </select>
        </div>


        <p align="center">
          <button type="submit" class="btn btn-success">Registrar Cita</button>
        </p>


      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <br>
</div>

<script>
  var date = new Date();
  var day = date.getDate();
  var month = date.getMonth() + 1;
  var year = date.getFullYear();
  if (month < 10) month = "0" + month;
  if (day < 10) day = "0" + day;
  var today = year + "-" + month + "-" + day;

  document.getElementById("fechaInicio").min = today;
  var tomorrow = year + "-" + month + "-" + (day + 1);
  document.getElementById("fechaSalida").min = tomorrow;

  function addDays(date, days) {
    var result = new Date(date);
    result.setDate(result.getDate() + days);
    return result;
  }
  //localStorage.setItem("fechaInicio", "dato")
</script>
