<div class="container-fluid">

  <div class="row" style="background-color:white;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form class="form-signin">
        <h2 class="form-signin-heading">Iniciar Sesión</h2>
        <br>
        <label for="usuario" class="sr-only">Nombre de Usuario</label>
        <input type="usuario" id="usuario" class="form-control" placeholder="Ingrese su nombre de usuario" required>
        <br>
        <label for="password" class="sr-only">Contraseña</label>
        <input type="password" id="password" class="form-control" placeholder="Ingrese su contraseña" required>
        <br>
        <p align="center"><a class="btn btn-primary btn-lg" href="/administracion" role="button">Sign in</a></p>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <br>
</div>
